<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ubi.pdm.projetofinal">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission/SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Necessárias para online/offline e deteção de rede -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@drawable/ic_logo_ouvido_amigo"
        android:roundIcon="@drawable/ic_logo_ouvido_amigo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OuvidoAmigo">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".ExercisesActivity" android:exported="false"/>
        <activity android:name=".DiaryActivity" android:exported="false"/>
        <activity android:name=".WriteDiaryActivity" android:exported="false"/>
        <activity android:name=".PerfilActivity" android:exported="false"/>
        <activity android:name=".PauseActivity" android:exported="false"/>
        <activity android:name=".CommunityActivity" android:exported="false"/>

    </application>
</manifest>
